body {
    margin: 0;
    display: flex;
    font-family: Inter, sans-serif;
    background-color: #0f172a;
    color: white;
}

.sidebar {
    width: 250px;
    background-color: #1e293b;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: 40px;
}
.workspace-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 5px;
}

.workspace-item:hover {
    background-color: #334155;
}

.workspace-item.active {
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
}

#workspaceControls {
    margin-top: 10px;
    margin-bottom: 15px;
}

#workspaceControls button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #334155;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

#workspaceControls button:hover {
    background-color: #475569;
}

#launchBtn {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #10b981;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}